<main>
  <mat-card>
    <div class="my-container">
      <header>
        <h2>Login Form</h2>
      </header>
      <section>
        <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Enter your username</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="userName"
            />
            <mat-error *ngIf="loginForm.controls['userName'].invalid">{{
              getErrorMessage("userName")
            }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              placeholder="123456"
              formControlName="password"
              type="password"
            />
            <mat-error *ngIf="loginForm.controls['password'].invalid">{{
              getErrorMessage("password")
            }}</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary">Login</button>
        </form>
      </section>
    </div>
  </mat-card>
</main>
