@use "../../foundations/colors.scss" as colors;
@use "../../foundations/box-shadows.scss" as boxShadows;
main {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  width: 300px;
  height: 50px;
  .container {
    box-shadow: boxShadows.$s4;
    width: 300px;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    .loading-circle {
      background-color: colors.$primaryColor;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    .lds-ring {
      display: inline-block;
      position: relative;
      width: 38px;
      height: 38px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      margin: 4px;
      border: 4px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
